.container {
    padding: 0;
}
.review__container {
    padding: 0 20px 10px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    mat-checkbox {
        margin-bottom: 20px;
    }
}
.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #ff6666;
    padding: 20px;
    color: #fff;
    width: 100%;
    h2 {
        font-size: 22px;
    }
    mat-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}
::ng-deep .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
}

h3 {
    font-size: 20px;
    color: #333;
    padding: 20px;
}
.action-buttons {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    button {
        margin: 0 5px;
    }
}
