.container {
    padding: 0;
}
.review__container {
    padding: 0 20px;
    margin: 0;
}
.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #ff6666;
    padding: 20px;
    color: #fff;
    width: 100%;
    h2 {
        font-size: 22px;
    }
    mat-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}
::ng-deep .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
}

h3 {
    font-size: 20px;
    color: #333;
    padding: 20px;
}

.showButton {
    display: flex;
    justify-content: center;
    padding: 20px;
    display: block;
    button {
        width: 100%;
    }
    mat-icon {
        line-height: 22px;
    }
    button,
    mat-icon {
        background: #ff6e6e;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
    }
}
