<form class="real__state" [formGroup]="realStateForm">
    <mat-label class="radio__label">Tipo de Inmueble: {{ getRealStateName() }}</mat-label>
    <mat-radio-group *ngIf="!isEditable" formControlName="realStateType">
        <mat-radio-button color="warn" value="{{ realStateType.HOUSE }}">Casa</mat-radio-button>
        <mat-radio-button color="warn" value="{{ realStateType.DEPARTMENT }}">Apartamento</mat-radio-button>
        <mat-radio-button color="warn" value="{{ realStateType.LOT }}">Lote</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="!isEditable">
        <mat-label class="radio__label">Ubicación</mat-label>
        <jhi-location-filters
            [provinciaControl]="realStateForm.get('province')"
            [cantonControl]="realStateForm.get('city')"
            [distritoControl]="realStateForm.get('district')"
            label="true"
        ></jhi-location-filters>
        <mat-error *ngIf="!isDirectionValid()">Por favor agregue la ubicacion</mat-error>
    </div>

    <mat-label class="radio__label">Características</mat-label>
    <div class="checkbox" *ngIf="!isLot()">
        <mat-checkbox formControlName="hasPool" color="warn">Piscina</mat-checkbox>
        <mat-checkbox formControlName="hasPrivateSecurity" color="warn">Seguridad Privada</mat-checkbox>
        <mat-checkbox *ngIf="isApartment()" formControlName="hasWater" color="warn">Agua incluida</mat-checkbox>
        <mat-checkbox *ngIf="isApartment()" formControlName="hasElectricity" color="warn">Electricidad incluida</mat-checkbox>
    </div>
    <div class="amenities" *ngIf="!isLot()">
        <mat-form-field color="accent" appearance="outline" matAutosize="true">
            <mat-label>Cuartos</mat-label>
            <input formControlName="rooms" type="text" mask="0" matInput placeholder="Cuartos" />
            <mat-icon class="custom__icon" matPrefix svgIcon="rsd_bed">sentiment_very_satisfied</mat-icon>
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline" matAutosize="true">
            <mat-label>Baños</mat-label>
            <input formControlName="baths" matInput type="number" placeholder="1.00" step="0.0" min="0" max="10" placeholder="Baños" />
            <mat-icon class="custom__icon" matPrefix svgIcon="rsd_bath"></mat-icon>
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline" matAutosize="true">
            <mat-label>Garaje</mat-label>
            <input formControlName="garage" matInput mask="0" type="text" placeholder="Capacidad de carros" />
            <mat-icon class="custom__icon" matPrefix svgIcon="rsd_garage"></mat-icon>
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline" matAutosize="true">
            <mat-label>Pisos</mat-label>
            <input formControlName="stories" matInput mask="0" type="text" placeholder="Pisos" />
            <mat-icon class="custom__icon" matPrefix svgIcon="rsd_up"></mat-icon>
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
    </div>
    <mat-form-field color="accent" appearance="outline" matAutosize="true">
        <mat-label>Precio</mat-label>
        <input formControlName="price" matInput prefix="₡" type="text" mask="dot_separator" placeholder="Precio" />
        <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" matAutosize="true">
        <mat-label>Tamaño</mat-label>
        <input formControlName="size" matInput mask="0*" placeholder="Tamaño" />
        <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" matAutosize="true">
        <mat-label>Codigo postal (opcional)</mat-label>
        <input formControlName="postalCode" mask="0*" matInput placeholder="Codigo postal" />
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" matAutosize="true">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" placeholder="Descripción"></textarea>
        <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
    <mat-label class="radio__label">Otras Características</mat-label>
    <div class="custom__container" *ngFor="let amenitie of customAmenities; index as i">
        <div class="custom__amenities">
            <div>{{ amenitie.name }}</div>
            <div>{{ amenitie.description }}</div>
            <div class="remove__btn">
                <mat-icon color="warn" (click)="onDeleteAmenities(i)">close</mat-icon>
            </div>
        </div>
    </div>
    <jhi-custom-amenitites-input (onNewCustomAmenities)="onAddCustomAmenitie($event)"></jhi-custom-amenitites-input>
</form>
