<mat-form-field appearance="outline">
    <mat-select #provinciaSelect placeholder="Provincia" [(ngModel)]="provincia" name="provincia" (selectionChange)="selectedProvincia($event)">
        <mat-option *ngFor="let value of provincias | keyvalue" [value]="value">
            {{value.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-select placeholder="Canton" [(ngModel)]="canton" name="canton" [disabled]="!provincia?true:null"
        (selectionChange)="selectedCanton($event)">
        <mat-option *ngFor="let value of cantones | keyvalue" [value]="value">
            {{value.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-select placeholder="Distrito" [(ngModel)]="distrito" name="distrito" [disabled]="!canton?true:null"
        (selectionChange)="selectedDistrito($event)">
        <mat-option *ngFor="let value of distritos | keyvalue" [value]="value">
            {{value.value}}
        </mat-option>
    </mat-select>
</mat-form-field>
