:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;

    mat-form-field {
        flex: 1;
        margin: 5px;
        height: 45px;
        font-size: 0.75em;

        ::ng-deep .mat-form-field-wrapper {
            padding: 0;
        }
    }

    @media (max-width: 1100px) {
        flex-direction: column;
        justify-content: center;
    }
}
