.rsd__sidecard {
    font-weight: bold;

    .mat-card-header {
        .mat-card-title {
            font-weight: bold;
            font-size: 14px;
        }
        .mat-card-subtitle {
            align-items: center;
            display: flex;
            font-size: 16px;
            font-weight: bold;

            .mat-icon {
                width: 12px;
                height: 12px;
                margin-right: 8px;
            }

            .paint {
                color: #ff6666;
            }
        }
    }

    .mat-card-content {
        margin-top: 8px;
    }

    .rsd__price {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        flex-direction: row-reverse;
    }

    .rsd__financing {
        display: flex;
        flex-direction: row-reverse;
        a {
            font-weight: bold;
            color: #474747;
            text-decoration: underline;
        }
    }

    .rsd__contact-seller {
        margin-top: 16px;
        .rsd__btn--full {
            background-color: #ff6666;
            color: white;
            font-weight: bold;
            width: 100%;
        }
    }

    .rsd__btn--empty {
        border: 1px solid #ff6666;
        background-color: #ffffff;
        color: #ff6666;
        font-weight: bold;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .rsd__icon {
            width: 14px;
            height: 14px;
        }
    }

    .mat-card-footer {
        font-weight: bold;
        font-size: 12px;
        margin: 0;
        a {
            color: #ff6666;
        }
    }
}

.share {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* buttons */

.share a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}

.share a:hover {
    opacity: 1;
}

/* icons */

.share i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* colors */

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.googleplus {
    background: #dd4b39;
}

.linkedin {
    background: #0077b5;
}

.pinterest {
    background: #cb2027;
}
