<div>
    <div class="row justify-content-center">
        <section>
            <h1>Reactivar cuenta</h1>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingresa el correo electrónico que usaste para registrarte.</p>
            </div>
            <div class="alert alert-warning" *ngIf="success">
                <p>Revise su correo electrónico para confirmar la re-activación de su cuenta.</p>
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Cuenta no encontrada</strong> Por favor use otro correo.
            </div>

            <form *ngIf="!success" [formGroup]="reactivateAccount" (submit)="reactivate()">
                <mat-form-field color="accent" appearance="outline">
                    <mat-label>Correo</mat-label>
                    <input formControlName="login" matInput placeholder="Correo" />
                    <mat-error *ngIf="reactivateAccount.get('login').hasError('required')">Este campo es requerido</mat-error>
                    <mat-error *ngIf="reactivateAccount.get('login').hasError('email')">Por favor ingrese un correo válido
                    </mat-error>
                </mat-form-field>
                <div class="submit__button {{isLoading ? 'disabled' : ''}}"  >
                    <button [disabled]="isLoading || !reactivateAccount.valid" type="submit" mat-raised-button>
                        <span *ngIf="!isLoading">
                        Reactivar
                        </span>
                        <mat-spinner *ngIf="isLoading" [diameter]="38">Procesando...</mat-spinner>
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>
