.ipsData {
    margin-top: 16px;

    .mat-card-content {
        padding: 0 16px;
    }

    .flex-space-between {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        span {
            border-radius: 8px;
            padding: 2px 0;

            &:nth-child(2) {
                width: 48px;
                text-align: center;
            }
        }

        .red {
            background-color: #ea4134;
            color: white;
        }

        .yellow {
            background-color: #f8cc11;
            color: black;
        }

        .green {
            background-color: #5ea541;
            color: white;
        }
    }
}
