<div class="row rsd__super-title">
    <div class="col-8 noPadding rsd__type" [ngSwitch]="detail.realStateType">
        <span *ngSwitchCase="'H'">Casa</span>
        <span *ngSwitchCase="'L'">Lote</span>
        <span *ngSwitchCase="'D'">Apartamento</span>
    </div>
    <div class="col-4 noPadding rsd__date">
        <span>{{formattedDate}}</span>
    </div>
</div>
<div class="row rsd__title">
    <div class="col-12 noPadding">

        <h1>{{detail.title}}</h1>
        <span class="rsd__subtitle">
            <mat-icon svgIcon="rsd_pin"></mat-icon>
             {{detail.city}}, {{detail.province}}
        </span>
    </div>
</div>
