.pricing__container {
    padding: 16px;

    .pricing__title {
        h1 {
            color: #ff6e6e;
            font-family: Lato;
            font-weight: bold;
        }
    }

    .pricing__content {
        [mat-button] {
            background: #fd6666;
            color: #fff;
            font-weight: bold;
            margin-top: 16px;
            width: 100%;
        }
    }

    .pricing__response {
        margin-top: 16px;
        h3 {
            padding: 8px;
            border: 1px solid #ff6e6e;
            border-radius: 8px;
            color: #ff6e6e;
            font-family: Lato;
            font-weight: bold;
            text-align: center;
        }
    }
}
