.scl__btn--empty {
    border: 1px solid #ff6666;
    background-color: #ffffff;
    color: #ff6666;
    font-weight: bold;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.scl__btn--full {
    background-color: #ff6666;
    color: #ffffff;
    font-weight: bold;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
