.financeModal__financeCardHolder {
    margin-top: 16px;
}

.mat-dialog-actions {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 24px 12px;
}

.mat-button {
    background-color: #ff6666;
    color: white;
    font-weight: bold;
}
