<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Re-establecer contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>La llave de re-establecimiento de contraseña no puede ser encontrada.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Escriba la nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Su contraseña no puede ser re-establecida. Recuerda que la solicitud es unicamente validad por 24
                    horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Su contraseña ha sido re-establecida.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">inicie sesión</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y la confirmación no coinciden!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Contraseña nueva</label>
                        <input type="password" class="form-control" id="password" name="password"
                            #passwordInput="ngModel" placeholder="Contraseña" [(ngModel)]="resetAccount.password"
                            minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.required">
                                La contraseña es requerida.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.minlength">
                                La contraseña debe ser de por lo menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger" *ngIf="passwordInput.errors.maxlength">
                                La contraseña no puede ser mayor a 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password">
                        </jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            #confirmPasswordInput="ngModel" placeholder="Confirmación" [(ngModel)]="confirmPassword"
                            minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                La confirmación es requerida.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                La confirmación debe ser de por lo menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                La confirmación no puede ser mayor a 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Re-establecer
                        contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
