<div class="commentBody">
    <div class="perfil">
        <div class="user">
            <div class="photo">
                <img src="https://www.alo.doctor/assets/images/usuario_chat.jpg" />
            </div>
            <div>
                <p>{{ comment.user.firstName }}</p>
                <span> {{ getFormatDate() }}</span>
            </div>
        </div>
        <div class="stars">
            <span>{{ comment.stars }}</span>
            <div>
                <star-rating
                    class="details__rating"
                    size="medium"
                    [showHalfStars]="true"
                    [starType]="'icon'"
                    [rating]="comment.stars"
                    [readOnly]="true"
                ></star-rating>
            </div>
        </div>
    </div>
    <p class="comment">
        {{ comment.comment }}
    </p>
</div>
