/* ==========================================================================
start Password strength bar style
========================================================================== */
#strength {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#strengthBar {
    padding: 0;
    width: fit-content;
    margin-left: 5px;
}

.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    vertical-align: super;
    width: 20px;
    &:last-child {
        margin: 0 !important;
    }
}
