<mat-card>
    <img mat-card-image [src]="listing.image">
    <mat-card-header>
        <div class="details">
            <mat-card-title>{{listing.title}}</mat-card-title>
            <mat-card-subtitle>
                <mat-icon svgIcon="shozas_pin"></mat-icon>
                {{listing.addr}}
            </mat-card-subtitle>
        </div>
        <app-detail-like></app-detail-like>
    </mat-card-header>
    <mat-card-content>
        <div class="specs">
            <app-detail-spec src="../../../content/images/bed.png">{{listing.beds}}</app-detail-spec>
            <app-detail-spec src="../../../content/images/bath.png">{{listing.baths}}</app-detail-spec>
            <app-detail-spec src="../../../content/images/garage.png">{{listing.gar}}</app-detail-spec>
            <app-detail-spec src="../../../content/images/ruler.png">{{listing.size}}mt<sup>2</sup></app-detail-spec>
        </div>
        <div class="details">
            <app-user-rating class="details__user" [user]="listing.user"></app-user-rating>
            <span class="details__price">{{listing.price | currency:'CRC':'¢'}}</span>
        </div>
    </mat-card-content>
</mat-card>
