<mat-card>
    <img mat-card-image [src]="getImage()" />
    <mat-card-header>
        <div class="details">
            <mat-card-title [title]="listing.title">{{ listing.title }}</mat-card-title>
            <mat-card-subtitle [title]="listing.addr">
                <mat-icon svgIcon="shozas_pin"></mat-icon>
                <span class="address">
                    {{ listing.addr }}
                </span>
            </mat-card-subtitle>
        </div>
        <jhi-detail-like [realState]="listing"></jhi-detail-like>
    </mat-card-header>
    <mat-card-content>
        <div class="specs">
            <jhi-detail-spec src="../../../content/images/bed.png">{{ listing.beds }}</jhi-detail-spec>
            <jhi-detail-spec src="../../../content/images/bath.png">{{ listing.baths }}</jhi-detail-spec>
            <jhi-detail-spec src="../../../content/images/garage.png">{{ listing.garage || listing.gar }}</jhi-detail-spec>
            <jhi-detail-spec src="../../../content/images/ruler.png">{{ listing.size }}mt<sup>2</sup></jhi-detail-spec>
        </div>
        <div class="details">
            <jhi-user-rating class="details__user" [user]="listing.user || listing.owner "></jhi-user-rating>
            <span class="details__price">{{ listing.price | currency: 'CRC':'¢' }}</span>
        </div>
    </mat-card-content>
</mat-card>
