.rsd__amenities {
    margin-top: 12px;

    h3 {
        color: #999999;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
    }

    .rsd__amenity {
        display: flex;
        align-items: center;

        padding-top: 8px;
        padding-bottom: 8px;

        span {
            padding-left: 8px;
        }
    }
}
