<ng-container *ngIf="(detail$ | async) as detail">
<div class="stateDetail">
    <div class="cover container-fluid">
        <div class="row">
            <div class="col-8 noPadding">
                <jhi-images-carrousel [detailImages]="detail.images"></jhi-images-carrousel>
            </div>
            <div class="col-4 noPadding">
                <jhi-map [latitude]="detail.latitude" [longitude]="detail.longitude"></jhi-map>
            </div>
        </div>
    </div>
    <div class="content">
        <jhi-comment-section [realStateId]="detail.id"></jhi-comment-section>
    </div>
</div>
</ng-container>
