.cover {
    position: relative;
    margin-top: 10px;
}

.content {
    width: 75%;
    margin: 0 auto;

    padding: 20px 0;

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
        width: 100%;
        padding: 20px 10px;
    }

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767px) {
        width: 100%;
        padding: 20px 10px;
    }

    // Medium devices (tablets, less than 992px)
    @media (max-width: 991px) {
        width: 100%;
        padding: 20px 30px;
    }

    // Large devices (desktops, less than 1200px)
    @media (max-width: 1199px) {
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .rsd__content--padding-r {
        padding-right: 32px;

        @media (max-width: 575px) {
            padding-right: 0;
        }
    }

    .rds__description {
        .mat-divider {
            margin-top: 28px;
        }

        .rds__description-content {
            margin-top: 16px;
        }
    }
}

.noPadding {
    padding: 0;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.stateDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    .detail__ips-title {
        margin-top: 16px;

        h3 {
            color: #999999;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
        }
    }
}

::ng-deep mat-tooltip-component {
    /* your own custom styles here */
    /* e.g. */
    .mat-tooltip {
        font-weight: bold;
        font-size: 1em;
    }

    .finance__disclaimer {
        background-color: rgba(255, 102, 102, 0.9);
        border-radius: 8px;
        max-width: 300px;
    }
}
