<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activada!</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Su cuenta ha sido activada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">Inicie sesión</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Su cuenta no pudo ser activada.</strong> Por favor registrese para iniciar sesion.
            </div>

        </div>
    </div>
</div>
