<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Su contraseña ha sido restaurada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Buenas
        </p>
        <p th:text="#{email.reset.text1}">
            Un reseteo de contraseña ha sido solicitado, por favor darle click al link de abajo para continuar:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">Shozas Team.</em>
        </p>
    </body>
</html>
