<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Su contraseña ha sido restaurada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <style type="text/css" media="screen">
            * {
                font-family: 'Lato', Arial, sans-serif !important;
            }
        </style>
    </head>
    <body style="background:#eee; padding: 20px 20px 60px 20px;">
        <div style="width:100%; text-align:center;">
            <span style="color:#ff6666; font-size:30px;">Shozas</span>
        </div>
        <div
            style="max-width:800px;margin:auto;background:#fff; padding: 30px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);font-family: 'Lato', Arial, sans-serif !important;"
        >
            <h2 style="text-align:center">¡Se ha solicitado un cambio de contraseña!</h2>
            <p th:text="#{email.reset.greeting(${user.login})}">
                Buenas
            </p>
            <p th:text="#{email.reset.text1}">
                Una restauración de contraseña ha sido solicitada, por favor darle click al link de abajo para continuar:
            </p>
            <div style="margin: 40px auto;">
                <a
                    style="text-decoration:none; padding:10px; background:#69f0ae; color:#fff;"
                    th:with="url=(@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|})"
                    th:href="${url}"
                    th:text="${url}"
                >
                    Cambiar de Contraseña
                </a>
            </div>
            <p>
                <span th:text="#{email.reset.text2}">Saludos, </span>
                <br />
                <em style="font-weight: bold;" th:text="#{email.signature}">Shozas Team.</em>
            </p>
        </div>
    </body>
</html>
