<div class="user__info__container" *ngIf="user">
    <div class="background__image"></div>
    <div class="user__info__content">
        <div>
            <h2>{{ user.firstName + ' ' + user.lastName }}</h2>
            <star-rating class="details__rating" size="large" [starType]="'icon'" [rating]="user.raiting" [readOnly]="true"></star-rating>
            <span class="reviews" (click)="onClickReviews()">Ver calificaciones</span>
        </div>
        <div class="user__image">
            <img mat-card-avatar [src]="getImage()" />
        </div>
        <div>
            <div class="icon__text">
                <mat-icon>mail</mat-icon>
                <div class="text">
                    <span>{{ user.login }}</span>
                </div>
            </div>
            <div class="icon__text" *ngIf="user.displayPhone">
                <mat-icon>phone</mat-icon>
                <div class="text">
                    <span>{{ getFormattedPhone() }}</span>
                </div>
            </div>
            <button *ngIf="desactive" mat-raised-button color="warn" (click)="onClickDesactive()">Desactivar Usuario</button>
        </div>
    </div>
</div>
