.title {
    background: #ff6666;
    color: #fff;

    mat-icon {
        line-height: 35px;
        cursor: pointer;
    }
}

mat-form-field {
    width: 100%;
}

.login__btn {
    background: #69f0ae;
    color: #424242;
}

.alert__custom {
    background: #69f0ae;
    color: #424242;
}
