<form>
    <div class="filter">
        <label>Precio</label>
        <jhi-range-component name="price" [(ngModel)]="searchFilters.rangePrice" [options]="priceConfig"
            *ngIf="priceConfig"></jhi-range-component>
    </div>
    <div class="filter">
        <label>Tamaño</label>
        <jhi-range-component name="size" [(ngModel)]="searchFilters.rangeSize" [options]="sizeConfig"
            *ngIf="sizeConfig"></jhi-range-component>
    </div>
    <div class="filter">
        <label>Calificación</label>
        <star-rating name="rating" class="details__rating" [starType]="'icon'" [rating]="1"></star-rating>
    </div>
    <div class="filter">
        <label>Codigo Postal</label>
        <mat-form-field appearance="outline">
            <input name="zipcode" matInput placeholder="ZIP" [(ngModel)]="searchFilters.zip" />
        </mat-form-field>
    </div>
</form>
